#filter-library {
  float: right;
  width: 200px;
  position: relative;
  top: 5px;
}

ul {
  list-style:none;
  padding-left: 0;
  min-height: 150px;
  border: 2px dashed #282828;
  border-radius: 4px;
  padding: 5px;
}

li {
  border-color: #282828;
  margin-bottom: 20px;
  background-color: #222222;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 10px 16px;
  cursor: pointer;
}

li .fa-bars {
  margin-right: 10px;
  cursor: move;
}

li .fa-trash {
  float: right;
  cursor: pointer;
  position: relative;
  top: 2px;
}

li .notes {
  margin-left: 22px;
  margin-top: 10px;
  display: block;
  background-color: #444;
  color: #999;
  padding: 5 12px;
  border-radius: 4px;
  font-family: monospace;
}

.alert {
  margin-top: 20px;
  display: none;
  text-align: center;
}

/* Add Your Styles Here */
@keyframes fade-in {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
li {
  transition: background-color 2s;
}
li:hover {
  background-color: #555555;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0.3;
}
li .fa-trash {
  transition: opacity 1s;
  animation-fill-mode: forwards;
}
.shaker {
  animation-duration: 3s;
  animation-name: shake;
}
@keyframes shake {
  0%   {transform: rotate(10deg);}
  10%  {transform: rotate(-10deg);}
  20%  {transform: rotate(10deg);}
  30%  {transform: rotate(-10deg);}
  40%  {transform: rotate(-10deg);}
  50%  {transform: rotate(10deg);}
  60%  {transform: rotate(-10deg);}
  70%  {transform: rotate(10deg);}
  80%  {transform: rotate(-10deg);}
  90%  {transform: rotate(10deg);}
  100% {transform: rotate(-10deg);}
}
@keyframes dance {
  0%   {transform: rotate(10deg);}
  10%  {transform: rotate(-10deg);}
  20%  {transform: rotate(30deg);}
  30%  {transform: rotate(-40deg);}
  40%  {transform: rotate(-50deg);}
  50%  {transform: rotate(60deg);}
  60%  {transform: rotate(-50deg);}
  70%  {transform: rotate(60deg);}
  80%  {transform: rotate(-20deg);}
  90%  {transform: rotate(-180deg);}
  100% {transform: rotate(360deg);}
}


/*
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
*/
/*
@keyframes select-song {
  0% {
    background-color: #222222;
  }
  100% {
    background-color: #555555;
  }
}
@keyframes unselect-song {
  0% {
    background-color: #555555;
  }
  100% {
    background-color: #222222;
  }
}
*/
